@charset "UTF-8";
/* Tipografías */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans+Gurmukhi:wght@100..900&display=swap");
@font-face {
  font-family: handlock;
  src: url("../resources/typo/tomnr.ttf"); }

.titulo-h1, header h1, .inicio h1, .libros h1, .agenda h1, .medios h1, .contacto h1 {
  font-family: handlock;
  text-align: center;
  margin-bottom: 0 !important;
  font-size: 35px;
  letter-spacing: 2px;
  border-bottom: black solid 2px;
  text-decoration: none; }

.textos {
  font-family: "Noto Sans Gurmukhi", sans-serif;
  color: black;
  font-size: 1.0em;
  letter-spacing: 1px;
  line-height: 1.15;
  text-decoration: none; }

main {
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%); }

.tap-li {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Mulish", sans-serif;
  /* eje vertical, eje horizontal, difuminado, extensión */
  box-shadow: 1px 1px 5px 2px rgba(128, 128, 128, 0.534);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px; }
  .tap-li:hover {
    transform: scale(0.95);
    transition: 3s ease-in-out; }

.describe {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #4097b2ed;
  letter-spacing: 2px;
  font-size: large;
  height: min-content;
  display: inline-block;
  padding: 20px 50px;
  width: 50%; }

.navbar-nav {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0.1 5.5rem !important; }

.navbar > .container-fluid {
  font-family: "Noto Sans Gurmukhi", sans-serif; }

.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: #4097b2 !important;
  justify-content: space-evenly;
  font-family: "Noto Sans Gurmukhi", sans-serif;
  font-size: small; }

.navbar-brand {
  font-size: small;
  padding: 1px;
  display: flex; }

.container-fluid a:hover {
  background-color: #7ed9ee !important;
  border-radius: 10px; }

i {
  font-size: 18px;
  color: #e3a42a;
  font-family: "Noto Sans Gurmukhi", sans-serif;
  font-style: normal; }

.navbar-collapse {
  justify-content: center; }

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap; }

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #4097b2; }

li {
  float: left;
  margin-left: 0px; }

li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 0px;
  text-decoration: none;
  font-family: "Mulish", sans-serif;
  font-size: small;
  background: #4097b2; }

li a:hover {
  background-color: #4bcbe8; }

a {
  text-decoration: none;
  color: black; }

h2 {
  font-size: 15px;
  font-family: "Noto Sans Gurmukhi", sans-serif;
  font-variant: small-caps;
  margin-bottom: 0; }

@keyframes scrolling {
  0% {
    transform: translateX(100%); }
  50% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100%); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Gurmukhi", sans-serif; }

header nav .bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: #4097b2 !important;
  justify-content: space-evenly;
  font-family: "Noto Sans Gurmukhi", sans-serif;
  font-size: small; }
  header nav .bg-body-tertiary div {
    display: flex;
    font-family: "Noto Sans Gurmukhi", sans-serif;
    justify-content: center; }
    header nav .bg-body-tertiary div a {
      text-decoration: none; }
      header nav .bg-body-tertiary div a i {
        font-size: 23px;
        color: #ce9523; }
    header nav .bg-body-tertiary div a:hover {
      background-color: #7ed9ee !important;
      border-radius: 10px; }
    header nav .bg-body-tertiary div div {
      justify-content: center; }
      header nav .bg-body-tertiary div div ul {
        --bs-nav-link-padding-x: 0;
        --bs-nav-link-padding-y: 0.1 5.5rem !important;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        list-style-type: none;
        overflow: hidden;
        background-color: #4097b2ed; }
        header nav .bg-body-tertiary div div ul li {
          float: left;
          margin-left: 0px; }
          header nav .bg-body-tertiary div div ul li a {
            display: inline-block;
            color: black;
            text-align: center;
            padding: 14px 0px;
            text-decoration: none;
            font-family: "Mulish", sans-serif;
            font-size: small;
            background: #4097b2ed; }

header marquee {
  font-family: handlock;
  font-size: larger;
  font-weight: lighter;
  letter-spacing: 5px;
  color: rgba(255, 245, 245, 0.9);
  text-transform: uppercase; }

footer {
  position: static;
  width: 100%;
  bottom: 0%;
  text-align: center;
  list-style-type: none;
  background-color: #4eaa94;
  font-family: "Mulish", sans-serif;
  font-size: small; }
  footer nav {
    display: flex;
    justify-content: center;
    margin: 0%; }
    footer nav ul {
      margin: 0%;
      list-style-type: none;
      overflow: hidden;
      background-color: #4eaa94;
      display: flex;
      flex-wrap: wrap;
      color: black;
      text-align: center;
      padding: 7px 70px;
      text-decoration: none;
      font-family: "Mulish", sans-serif;
      font-size: small;
      border: none;
      justify-content: center; }
      footer nav ul li a {
        text-decoration: none;
        color: black;
        display: inline-block;
        color: black;
        text-align: center;
        padding: 7px 30px;
        text-decoration: none;
        font-family: "Mulish", sans-serif;
        font-size: small;
        border: 0cm;
        background-color: #4eaa94; }
      footer nav ul li a:hover {
        text-decoration: none;
        background-color: #4eaa94;
        opacity: 0.5; }
  footer .decoration {
    text-decoration: overline; }

footer .lapicera {
  animation: scrolling 20s linear infinite;
  animation-direction: reverse;
  width: 50%; }
  footer .lapicera i {
    color: black;
    font-size: 1em; }

.inicio {
  background-color: #f2d17c; }

.main-inicio {
  display: flex;
  flex-direction: column; }
  .main-inicio article {
    max-width: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: end;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    .main-inicio article img {
      border-radius: 50%;
      width: 500px;
      justify-items: end;
      box-shadow: 2px 3px 5px 5px rgba(128, 128, 128, 0.534);
      border: black solid 2px; }
      .main-inicio article img:hover {
        transform: scale(0.95);
        transition: 3s ease-in-out; }
    .main-inicio article div p {
      margin: 5px;
      justify-content: flex-start; }
      .main-inicio article div p:hover {
        transform: scale(0.95);
        transition: 3s ease-in-out; }

.venta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: start;
  justify-content: center;
  justify-items: start; }
  .venta div {
    display: flex;
    flex-direction: column; }
    .venta div h3 {
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: #4097b2ed;
      letter-spacing: 3px;
      text-align: center;
      padding: 20px;
      display: inline-block; }
    .venta div p {
      align-self: flex-end; }

.libros {
  background-color: #ce9523; }

.main-libros {
  display: flex;
  justify-content: center;
  align-items: center; }

h4 {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1rem; }

.button {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 15px;
  background-color: #e3a42a;
  color: beige;
  font-family: "Mulish", sans-serif; }

.tap-li img {
  height: 250px;
  margin: 10px; }

p {
  margin-bottom: 0; }

/* Grid libros por areas */
.grid-libros {
  display: grid;
  width: 1200px;
  grid-template-areas: "libr1 libr2 libr2" "libr3 libr3 libr4" "libr5 libr6 libr6" "libr7 libr7 libr8" "libr9 libr0 libr0" "li8r1 li8r1 li8r2" "li8r3 li8r4 li8r4 ";
  align-items: center;
  justify-items: center;
  justify-content: center; }

.libr1 {
  grid-area: libr1;
  padding: 10px;
  width: 250px; }

.libr2 {
  grid-area: libr2;
  padding: 20px;
  width: 310px; }

.libr3 {
  grid-area: libr3;
  padding: 20px;
  width: 310px; }

.libr4 {
  grid-area: libr4;
  padding: 10px;
  width: 250px; }

.libr5 {
  grid-area: libr5;
  padding: 20px;
  width: 250px; }

.libr6 {
  grid-area: libr6;
  padding: 20px;
  width: 310px; }

.libr7 {
  grid-area: libr7;
  padding: 20px;
  width: 310px; }

.libr8 {
  grid-area: libr8;
  padding: 20px;
  width: 250px; }

.libr9 {
  grid-area: libr9;
  padding: 20px;
  width: 250px; }

.libr0 {
  grid-area: libr0;
  padding: 20px;
  width: 310px; }

.li8r1 {
  grid-area: li8r1;
  padding: 20px;
  width: 310px; }

.li8r2 {
  grid-area: li8r2;
  padding: 20px;
  width: 250px; }

.li8r3 {
  grid-area: li8r3;
  padding: 20px;
  width: 250px; }

.li8r4 {
  grid-area: li8r4;
  padding: 20px;
  width: 310px; }

.agenda {
  background-color: #4eaa94; }

.main-agenda {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  align-content: center; }
  .main-agenda h2 {
    font-weight: bolder;
    font-size: larger; }
  .main-agenda .grid-agenda {
    display: grid;
    grid-template-areas: "evento1 evento1 evento1" "evento2 evento3 evento3" "evento4 evento3 evento3" "evento4 evento3 evento3";
    grid-template-rows: 50px 150px 100px 100px;
    grid-template-columns: 250px 150px 150px;
    justify-content: center;
    gap: 10px;
    box-shadow: 1px 1px 5px 2px rgba(128, 128, 128, 0.534);
    border-radius: 10px;
    padding: 10px;
    margin: 10px; }
    .main-agenda .grid-agenda:hover {
      transform: scale(0.95);
      transition: 3s ease-in-out; }
    .main-agenda .grid-agenda .evento-proximo {
      grid-area: evento1;
      padding: 10px; }
    .main-agenda .grid-agenda .ubicacion {
      text-align: center;
      padding: 10px;
      grid-area: evento2; }
    .main-agenda .grid-agenda .fotoevento {
      padding: 10px;
      grid-area: evento3; }
      .main-agenda .grid-agenda .fotoevento img {
        width: 80%; }
    .main-agenda .grid-agenda .mapaevento {
      grid-area: evento4; }
      .main-agenda .grid-agenda .mapaevento iframe {
        border-radius: 10px; }
  .main-agenda .eventos-pasados {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center; }
    .main-agenda .eventos-pasados a {
      text-decoration: none;
      font-family: "Noto Sans Gurmukhi", sans-serif;
      font-variant: small-caps; }

.medios {
  background-color: #4097b2ed; }

/* Medios */
.main-medios {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: var(--grid-column-gap, 30px);
  grid-row-gap: var(--grid-row-gap, 30px);
  justify-items: center;
  padding: 20px 0px; }

.main-medios div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.contiene-medios {
  width: 655px;
  flex-direction: row; }
  .contiene-medios:hover {
    transform: scale(0.95);
    transition: 3s ease-in-out; }

.contiene-medios div {
  align-content: center;
  display: flex;
  flex-wrap: wrap; }

.contiene-medios div img {
  height: 150px; }

.link-medios {
  background-color: white;
  width: 400px;
  height: 100px;
  border-radius: 0px 10px 10px 0px; }

.link-medios button {
  align-self: center;
  border-color: #4097b2;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2px 3px;
  border-radius: 10px;
  background-color: #4097b2;
  color: beige;
  font-family: "Noto Sans Gurmukhi", sans-serif; }

.imagen-medios {
  width: 200px;
  height: 100px;
  overflow: hidden;
  border-radius: 10px 0px 0px 10px; }

.link-medios p {
  color: black;
  padding: 5px 5px;
  font-family: "Noto Sans Gurmukhi", sans-serif;
  text-align: justify;
  text-decoration: none;
  font-size: smaller;
  margin-bottom: 0; }

/* Contacto */
.contacto {
  background-color: #4bcbe8df; }

.logoinsta {
  width: 40px;
  height: 40px; }

.contacto {
  background-color: #4bcbe8df; }

.main-contacto {
  display: flex; }
  .main-contacto .img-contacto {
    width: 40%; }
  .main-contacto .div-contacto {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center; }
    .main-contacto .div-contacto .contact-ig {
      display: flex;
      height: 10%;
      width: 50%;
      border-radius: 10px;
      padding: 10px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      align-items: center;
      margin-top: 10%; }
      .main-contacto .div-contacto .contact-ig:hover {
        transform: scale(0.95);
        transition: 3s ease-in-out; }
      .main-contacto .div-contacto .contact-ig a {
        font-family: "Noto Sans Gurmukhi", sans-serif;
        color: black;
        font-size: smaller;
        text-align: center;
        text-decoration: none; }
      .main-contacto .div-contacto .contact-ig ::first-letter {
        font-weight: bold; }
    .main-contacto .div-contacto .contact-form {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 12%;
      margin-left: 20%; }
      .main-contacto .div-contacto .contact-form form input {
        width: 80%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid #4097b2;
        border-radius: 4px; }
      .main-contacto .div-contacto .contact-form input[type=submit],
      .main-contacto .div-contacto .contact-form input[type=reset] {
        background-color: #4097b2;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer; }

/*Responsive */
/* Mobile last=> max-width  */
/* Tablet */
@media (max-width: 875px) {
  .main-inicio article {
    grid-template-columns: 2fr; }
  .presentacion {
    display: grid;
    grid-template-columns: 2fr;
    justify-items: center;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
  .presentacion div img {
    border-radius: 50%;
    width: 70%;
    margin-left: 7px; }
  .presentacion div p {
    margin: 5px;
    order: 1; }
  .describe {
    width: auto; }
  .venta {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center; } }

/* Mobile */
@media (max-width: 655px) {
  /* Grid libros por areas */
  .grid-libros {
    display: grid;
    width: 80%;
    grid-template-areas: "libr1" "libr2 " "libr4" "libr3" "libr5" "libr6 " "libr8" "libr7" "libr9" "libr0 " "li8r2" "li8r1" "li8r3" "li8r4";
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center; }
  .main-medios div {
    flex-direction: column; }
  .contiene-medios {
    width: 320px; }
  .imagen-medios {
    border-radius: 10px 10px 0px 0px; }
  .link-medios {
    background-color: white;
    border-radius: 10px;
    width: 300px;
    height: 130px;
    flex-direction: column; }
  .main-contacto img {
    display: none; }
  .main-contacto .div-contacto {
    width: 100%;
    background-image: url("../resources/juanPiletaCielo.jpeg");
    display: grid;
    justify-items: center;
    grid-template-areas: "logo-insta" "form-news "; }
    .main-contacto .div-contacto .contact-ig {
      height: auto;
      width: auto;
      grid-area: logo-insta; }
      .main-contacto .div-contacto .contact-ig img {
        display: flex; }
    .main-contacto .div-contacto .contact-form {
      grid-area: form-news; }
      .main-contacto .div-contacto .contact-form p {
        font-family: "Noto Sans Gurmukhi", sans-serif;
        color: black;
        font-size: 1em;
        text-align: left;
        text-decoration: none; }
  .main-agenda {
    display: flex; }
    .main-agenda .grid-agenda {
      display: flex;
      flex-direction: column;
      width: 70%;
      align-items: center;
      justify-content: center; }
      .main-agenda .grid-agenda .ubicacion {
        align-content: center; }
      .main-agenda .grid-agenda .fotoevento {
        display: flex;
        justify-content: center; } }
