//Variables-->reseteo
@import'./utilities/colors';
@import'./utilities/reset';
//Secciones
@import './sections/header';
@import'./sections/inicio';
@import'./sections/libros';
@import'./sections/agenda';
@import'./sections/medios';
@import'./sections/contacto';
/* Tipografías */
@font-face {
    font-family: handlock;
    src: url("../resources/typo/tomnr.ttf");
}

/* Si quiero fuente de google font */

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans+Gurmukhi:wght@100..900&display=swap');

/* font-family: "Mulish", sans-serif;
font-family: "Noto Sans Gurmukhi", sans-serif;*/

.textos {
    font-family: "Noto Sans Gurmukhi", sans-serif;
    color: black;
    font-size: 1.0em;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.15;
    text-decoration: none;
}
main {
    background-color: #d9d9d9;
}

/*Responsive */
/* Mobile last=> max-width  */
/* Tablet */
@media (max-width:838px) {
    .main-inicio article {
        flex-direction: row-reverse;
    }

    .presentacion {
        display: grid;
        grid-template-columns: 2fr;
        justify-items: center;
        justify-content: center;
        align-items: center;
        overflow: hidden;

    }


    .presentacion div img {
        border-radius: 50%;
        width: 70%;
            }

    .presentacion div p {
        margin: 5px;
        order: 1;
    }

    .describe {
        width: auto;
    }

    .venta {
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
}

/* Mobile */
@media (max-width:655px) {

    /* Grid libros por areas */
    .grid-libros {
        background-color: #d9d9d9;
        display: grid;
        width: 80%;
        grid-template-areas:
            "libr1"
            "libr2 "
            "libr4"
            "libr3"
            "libr5"
            "libr6 "
            "libr8"
            "libr7"
            "libr9"
            "libr0 "
            "li8r2"
            "li8r1"
            "li8r3"
            "li8r4"
        ;
        align-items: center;
        justify-items: center;
        justify-content: start;
    }


    .grid-agenda {
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: center;
        justify-content: center;

    }

    .main-medios div {
        flex-direction: column;
    }

    .contiene-medios {
        width: 320px;
    }
.imagen-medios{
    border-radius: 10px 10px 0px 0px;
}
    .link-medios {
        background-color: white;
        border-radius: 10px;
        width: 300px;
        height: 130px;
       flex-direction: column; 
    }

    .main-contacto {
        background-image: url("../resources/juanPiletaCielo.jpeg");
        display: grid;
        justify-items: center;
        grid-template-areas:
            "logo-insta"
            "form-news "
    }

    .img-contacto {
        width: 60%;
        grid-area: img-pileta;
    }

    .contact-ig {
        height: auto;
        width: auto;
        margin-left: auto;
        grid-area: logo-insta;
    }

    .contact-form {
        grid-area: form-news;
        margin-left: auto;
    }

    .contact-form p {
        font-family: "Noto Sans Gurmukhi", sans-serif;
        color: black;
        font: size 1em;
        text-align: center;
        text-decoration: none;
    }
}