.agenda {
    background-color: $bosque;

    h1 {
        @extend .titulo-h1
    }
}

.main-agenda {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    align-content: center;

    h2 {
        font-weight: bolder;
        font-size: larger;
    }

    .grid-agenda {
        &:hover {
            transform: scale(0.95);
            transition: 3s ease-in-out;
        }

        display: grid;
        grid-template-areas: "evento1 evento1 evento1"
        "evento2 evento3 evento3"
        "evento4 evento3 evento3"
        "evento4 evento3 evento3"
        ;
        grid-template-rows: 50px 150px 100px 100px;
        grid-template-columns: 250px 150px 150px;
        justify-content: center;
        gap: 10px;
        box-shadow: 1px 1px 5px 2px rgba(128, 128, 128, 0.534);
        border-radius: 10px;
        padding: 10px;
        margin: 10px;

        .evento-proximo {
            grid-area: evento1;
            padding: 10px;
        }

        .ubicacion {
            text-align: center;
            padding: 10px;
            grid-area: evento2;
        }

        .fotoevento {
            padding: 10px;
            grid-area: evento3;

            img {
                width: 80%;
            }
        }

        .mapaevento {
            grid-area: evento4;

            iframe {
                border-radius: 10px;
            }
        }

    }

    .eventos-pasados {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;

        div {
            height: 250px;
            width: 255px;
img{
    width: 150px;
    height: 200px; ;
}
            a {
                text-decoration: none;
                font-family: $fuente-sinserifa;
                font-variant: small-caps;

            }
        }

    }
}