/* Contacto */
.contacto {
     h1 {
        @extend .titulo-h1
    }
}

.logoinsta {
    width: 40px;
    height: 40px;
}

.contacto {
    background-color: #197681 ;
}

.main-contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    .img-contacto {
        
            margin-top: 118px;
                width: 40%;
    }

    .div-contacto {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        width: 60%;
        align-items: center;


        .contact-ig {
&:hover{
    transform: scale(0.95);
        transition: 3s ease-in-out;
}
&:not(:hover){
    transform: scale(1.0);
    transition: 3s ease;}
            a {
               
                font-family: $fuente-sinserifa;
                color: black;
                font-size: smaller;
                text-align: center;
                text-decoration: none;
            }

            display: flex;
            
            width: 40%;
            border-radius: 10px;
            padding: 10px;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
            align-items: center;
            
            justify-content: center;

            ::first-letter {
                font-weight: bold;

            }

        }

        .contact-form {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2%;
         
            form{
                display: flex;
                align-items: center;
                flex-direction: column;
                 input {
                width: 100%;
                padding: 5px ;
                margin: 8px 0;
                box-sizing: border-box;
                border: 2px solid #4097b2;
                border-radius: 4px;
            }

            input[type=submit],
            input[type=reset] {
                background-color: #4097b2;
                width: 100%;
                border: none;
                color: white;
                padding: 16px ;
                text-decoration: none;
                margin: 4px 2px;
                cursor: pointer;
            }}
        }

    }
}