header {

    nav .bg-body-tertiary {
        --bs-bg-opacity: 1;
        background-color: #4097b2 !important;
        justify-content: space-evenly;
        font-family: "Noto Sans Gurmukhi", sans-serif;
        font-size: small;

        div {
            display: flex;
            font-family: "Noto Sans Gurmukhi", sans-serif;
            justify-content: center;

            a { text-decoration: none;
                i {
                    font-size: 23px;
                    color: #e3a42a;
                }
            }

            a:hover {
                background-color: #7ed9ee !important;
                border-radius: 10px;



            }

                    div { justify-content: center;
                ul {
                    --bs-nav-link-padding-x: 0;
                    --bs-nav-link-padding-y: 0.1 5.5rem !important;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    flex-wrap: wrap;
                    list-style-type: none;
                    overflow: hidden;
                    background-color: #4097b2;

                    li {
                        float: left;
                        margin-left: 0px;

                        a {
                            display: inline-block;
                            color: black;
                            text-align: center;
                            padding: 14px 0px;
                            text-decoration: none;
                            font-family: "Mulish", sans-serif;
                            font-size: small;
                            background: #4097b2;
                        }

                    }
                }

            }
        }

    }

    marquee {
        font-family: handlock;
        font-size: larger;
        font-weight: lighter;
        letter-spacing: 5px;
        color: rgba(255, 245, 245, 0.9);
        text-transform: uppercase;

    }

   a{ text-decoration: none;
    h1 {
        @extend .titulo-h1

    }}
}
footer{
  position: static;
  width: 100%;
  bottom: 0%;
  text-align: center;
  list-style-type: none;
  background-color: #4eaa94;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
    nav{
        ul{ list-style-type: none;
            overflow: hidden;
            background-color: #4eaa94;
            display: flex;
            color: black;
            text-align: center;
            padding: 12px 70px;
            text-decoration: none;
            font-family: "Mulish", sans-serif;
            font-size: small;
            border: none; 
            justify-content: center;
            li{
                a{  text-decoration: none;
                    color: black;
                    display: inline-block;
                    color: black;
                    text-align: center;
                    padding: 12px 30px;
                    text-decoration: none;
                    font-family: "Mulish", sans-serif;
                    font-size: small;
                    border: 0cm;
                    background-color: #4eaa94;
                }
                a:hover {
                    text-decoration: none;
                    background-color: #4eaa94;
                    opacity: 0.5; }
            }
        }
    }
}