header {
position: fixed;
width: 100%;
z-index: 3;
 nav .bg-body-tertiary {
        --bs-bg-opacity: 1;
        background-color:#A67D32  !important;
        justify-content: space-evenly;
        font-family: $fuente-sinserifa;
        font-size: small;

        div {
            display: flex;
            font-family:$fuente-sinserifa;
            justify-content: center;

            a { text-decoration: none;
                i {
                    font-size: 23px;
                    color:#F28A2E;
                }
            }

            a:hover {
                background-color: #7ed9ee !important;
                border-radius: 10px;



            }

                    div { justify-content: center;
                ul {
                    --bs-nav-link-padding-x: 0;
                    --bs-nav-link-padding-y: 0.1 5.5rem !important;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    flex-wrap: wrap;
                    list-style-type: none;
                    overflow: hidden;
                    background-color:$patagonia;

                    li {
                        float: left;
                        margin-left: 0px;

                        a {
                            display: inline-block;
                            color: black;
                            text-align: center;
                            padding: 14px 0px;
                            text-decoration: none;
                            font-family: $fuente-sinserifa2;
                            font-size: small;
                            background: $patagonia;
                        }

                    }
                }

            }
        }

    }

    marquee {
        font-family: $fuente-serifada;
        font-size: 18px;
        font-weight: lighter;
        letter-spacing: 5px;
        color:#fafafa;
        text-transform: uppercase;
        margin: 0%;
       

    }
     
}
footer{
  position: static;
  width: 100%;
  bottom: 0%;
  text-align: center;
  list-style-type: none;
  background-color: $bosque;
  font-family:$fuente-sinserifa2;
  font-size: small;
    nav {display: flex;
        justify-content: center;
        margin: 0%;
               ul{ margin: 0%;
                list-style-type: none;
            overflow: hidden;
            background-color:$bosque;
            display: flex;
            flex-wrap: wrap;
            color: black;
            text-align: center;
            padding: 7px 70px;
            text-decoration: none;
            font-family: $fuente-sinserifa2;
            font-size: small;
            border: none; 
            justify-content: center;
            li{
                a{  text-decoration: none;
                    color: black;
                    display: inline-block;
                    color: black;
                    text-align: center;
                    padding: 7px 30px;
                    text-decoration: none;
                    font-family: $fuente-sinserifa2;
                    font-size: small;
                    border: 0cm;
                    background-color:$bosque;
                }
                a:hover {
                    text-decoration: none;
                    background-color:$bosque;
                    opacity: 0.5; }
            }
        }
    }
    .decoration{
        text-decoration: overline;
    }
}

footer .lapicera {
    animation: scrolling 20s linear infinite;
    animation-direction: reverse;
    width: 50%;
    i{color: black;
        font-size: 1em;}
        }