//bootstrap
.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.1 5.5rem !important;
}

.navbar>.container-fluid {
    font-family: "Noto Sans Gurmukhi", sans-serif;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #4097b2 !important;
    justify-content: space-evenly;
    font-family: "Noto Sans Gurmukhi", sans-serif;
    font-size: small;
}

.navbar-brand {
    font-size: small;
    padding: 1px;
}

.container-fluid a:hover {
    background-color: #7ed9ee !important;
    border-radius: 10px;
}

i {
    font-size: 23px;
    color: #e3a42a;
}

.navbar-collapse {
    justify-content: center;
}

.inicio {
    background-color: $sol;

    h1 {
        @extend .titulo-h1
    }
}

.main-inicio {
    display: flex;
    flex-direction: column;

    article {
        max-width: auto;
        display: grid;
        grid-template-columns: 2fr 1fr;
        justify-items: end;
        justify-content: center;
        align-items: center;
        overflow: hidden;


        img {
            border-radius: 50%;
            width: 500px;
            justify-items: end;
            box-shadow: 2px 3px 5px 5px rgba(128, 128, 128, 0.534);
            border: black solid 2px;
        }


        div {
            p {
                margin: 20px;
                justify-content: flex-start;
            }
        }
    }
}

.venta {
    display: grid;
    background-color: #edd971;
    grid-template-columns: 2fr 1fr;
    align-items: start;
    justify-content: center;
    justify-items: start;

    div {
        display: flex;
        flex-direction: column;

        h3 {
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: #4097b2;
            letter-spacing: 3px;
            text-align: center;
            padding: 20px;
            display: inline-block;

        }

        p {
            align-self: flex-end;
           }
    }
}
.describe{
    font-family: Georgia, 'Times New Roman', Times, serif;
            color: #4097b2;
            letter-spacing: 2px;
            font-size: large;
            height: min-content;
            display: inline-block;
            padding: 20px 50px;
            width: 50%;
}