.inicio {
     background-color: $sol;
        h1 {
        @extend .titulo-h1
    }
}
.main-inicio {
    display: flex;
    flex-direction: column;

    article {
        max-width: auto;
        display: grid;
        grid-template-columns: 2fr 1fr;
        justify-items: end;
        justify-content: center;
        align-items: center;
        overflow: hidden;


        img {
            border-radius: 50%;
            width: 500px;
            justify-items: end;
            box-shadow: 2px 3px 5px 5px rgba(128, 128, 128, 0.534);
            border: black solid 2px;
            &:hover{
                transform: scale(0.95);
                transition: 3s ease-in-out;
            }
        }


        div {
            p {
                margin: 5px;
                justify-content: flex-start;
                &:hover{
                    transform: scale(0.95);
                    transition: 3s ease-in-out;
                }
            }
        }
    }
}

.venta {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: start;
    justify-content: center;
    justify-items: start;

    div {
        display: flex;
        flex-direction: column;

        h3 {
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: $patagonia;
            letter-spacing: 3px;
            text-align: center;
            padding: 20px;
            display: inline-block;
          
        }

        p {
            align-self: flex-end;
           }
    }
}
