.titulo-h1{
    font-family: $fuente-serifada;
        text-align: center;
        margin-bottom: 0 !important;
        font-size: 35px;
        letter-spacing: 2px;
        border-bottom: black solid 2px;
        text-decoration: none;
}

.textos {
    font-family: $fuente-sinserifa;
    color: black;
    font-size: 1.0em;
    letter-spacing: 1px;
    line-height: 1.15;
    text-decoration: none;
}

main {
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
     
}
.tap-li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $fuente-sinserifa2;
    /* eje vertical, eje horizontal, difuminado, extensión */
    box-shadow: 1px 1px 5px 2px rgba(128, 128, 128, 0.534);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    &:hover{
        transform: scale(0.95);
        transition: 3s ease-in-out;
    }
}
.describe{
    font-family: Georgia, 'Times New Roman', Times, serif;
            color: $patagonia;
            letter-spacing: 2px;
            font-size: large;
            height: min-content;
            display: inline-block;
            padding: 20px 50px;
            width: 50%;
}
//bootstrap
nav .navbar .navbar-expand-lg .bg-body-tertiary .justify-content-center{
    --bs-bg-opacity: 1;
    background-color:$patagonia !important;
    justify-content: space-evenly;
    font-family:$fuente-serifada;
    font-size: small;
    font-weight: bold;
    div .container-fluid{ font-family:$fuente-sinserifa;
        a .navbar-brand{
            i{
                
    font-size: 23px;
    color:$futuro;
            }
            font-size: small;
            padding: 1px;
            &:hover{
                background-color: #7ed9ee !important;
                border-radius: 10px;
            }
        }
        div .collapse .navbar-collapse .justify-content-center{
            justify-content: center;
            ul .navbar-nav .nav .justify-content-center{
                --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.1 5.5rem !important;
            }

        }

    }


h2 {
    font-size: 15px;
    font-family: $fuente-sinserifa;
    font-variant: small-caps;
    margin-bottom: 0;
}
